<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="nil.ed.book.mapper.OrderMapper">
  <resultMap id="BaseResultMap" type="nil.ed.book.entity.Order">
    <result column="id" jdbcType="BIGINT" property="id" />
    <result column="book_id" jdbcType="INTEGER" property="bookId" />
    <result column="user_id" jdbcType="INTEGER" property="userId" />
    <result column="order_status" jdbcType="TINYINT" property="orderStatus" />
    <result column="real_pay" jdbcType="DECIMAL" property="realPay" />
    <result column="address" jdbcType="VARCHAR" property="address" />
    <result column="amount" jdbcType="INTEGER" property="amount" />
    <result column="expect_arrival_time" jdbcType="BIGINT" property="expectArrivalTime" />
    <result column="create_time" jdbcType="BIGINT" property="createTime" />
    <result column="last_update_time" jdbcType="BIGINT" property="lastUpdateTime" />
  </resultMap>
  <sql id="Blob_Column_List">
    last_update_time
  </sql>
  <insert id="insert" parameterType="nil.ed.book.entity.Order">
    insert into t_order (id, book_id, user_id, 
      order_status, real_pay, address, 
      amount, expect_arrival_time, create_time, 
      last_update_time)
    values (#{id,jdbcType=BIGINT}, #{bookId,jdbcType=INTEGER}, #{userId,jdbcType=INTEGER}, 
      #{orderStatus,jdbcType=TINYINT}, #{realPay,jdbcType=DECIMAL}, #{address,jdbcType=VARCHAR}, 
      #{amount,jdbcType=INTEGER}, #{expectArrivalTime,jdbcType=BIGINT}, #{createTime,jdbcType=BIGINT}, 
      #{lastUpdateTime,jdbcType=BIGINT})
  </insert>
  <insert id="insertSelective" parameterType="nil.ed.book.entity.Order">
    insert into t_order
    <trim prefix="(" suffix=")" suffixOverrides=",">
      <if test="id != null">
        id,
      </if>
      <if test="bookId != null">
        book_id,
      </if>
      <if test="userId != null">
        user_id,
      </if>
      <if test="orderStatus != null">
        order_status,
      </if>
      <if test="realPay != null">
        real_pay,
      </if>
      <if test="address != null">
        address,
      </if>
      <if test="amount != null">
        amount,
      </if>
      <if test="expectArrivalTime != null">
        expect_arrival_time,
      </if>
      <if test="createTime != null">
        create_time,
      </if>
      <if test="lastUpdateTime != null">
        last_update_time,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides=",">
      <if test="id != null">
        #{id,jdbcType=BIGINT},
      </if>
      <if test="bookId != null">
        #{bookId,jdbcType=INTEGER},
      </if>
      <if test="userId != null">
        #{userId,jdbcType=INTEGER},
      </if>
      <if test="orderStatus != null">
        #{orderStatus,jdbcType=TINYINT},
      </if>
      <if test="realPay != null">
        #{realPay,jdbcType=DECIMAL},
      </if>
      <if test="address != null">
        #{address,jdbcType=VARCHAR},
      </if>
      <if test="amount != null">
        #{amount,jdbcType=INTEGER},
      </if>
      <if test="expectArrivalTime != null">
        #{expectArrivalTime,jdbcType=BIGINT},
      </if>
      <if test="createTime != null">
        #{createTime,jdbcType=BIGINT},
      </if>
      <if test="lastUpdateTime != null">
        #{lastUpdateTime,jdbcType=BIGINT},
      </if>
    </trim>
  </insert>
</mapper>