<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="nil.ed.onlineexam.mapper.TestPaperMapper">
  <resultMap id="BaseResultMap" type="nil.ed.onlineexam.entity.TestPaper">
    <result column="id" jdbcType="INTEGER" property="id" />
    <result column="cid" jdbcType="INTEGER" property="cid" />
    <result column="name" jdbcType="VARCHAR" property="name" />
    <result column="start_time" jdbcType="BIGINT" property="startTime" />
    <result column="end_time" jdbcType="BIGINT" property="endTime" />
    <result column="test_duration" jdbcType="INTEGER" property="testDuration" />
    <result column="score" jdbcType="INTEGER" property="score" />
    <result column="creator" jdbcType="INTEGER" property="creator" />
    <result column="create_time" jdbcType="BIGINT" property="createTime" />
    <result column="published" jdbcType="TINYINT" property="published" />
  </resultMap>
  <insert id="insert" parameterType="nil.ed.onlineexam.entity.TestPaper">
    insert into
    `t_test_paper` (`id`,
    `cid`,
    `name`,
    `start_time`,
    `end_time`,
    `test_duration`,
    `score`,
    `creator`,
    `create_time`)
    values(#{id,jdbcType=INTEGER},
    #{cid,jdbcType=INTEGER},
    #{name,jdbcType=VARCHAR},
    #{startTime,jdbcType=BIGINT},
    #{endTime,jdbcType=BIGINT},
    #{testDuration,jdbcType=INTEGER},
    #{score,jdbcType=INTEGER},
    #{creator,jdbcType=INTEGER},
    #{createTime,jdbcType=BIGINT})
  </insert>


  <delete id="deleteTestPaperById">
    delete from `t_test_paper` where `t_test_paper`.`id` = #{id}
  </delete>
</mapper>